<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>textureFileName</key>
            <string>chalk-line.png</string>
        </dict>
        <key>frames</key>
        <dict>
            <key>chalk-line/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1419,89}</string>
                <key>spriteSourceSize</key>
                <string>{1419,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{1419,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chalk-line/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1419,89}</string>
                <key>spriteSourceSize</key>
                <string>{1419,89}</string>
                <key>textureRect</key>
                <string>{{1,92},{1419,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chalk-line/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1419,89}</string>
                <key>spriteSourceSize</key>
                <string>{1419,89}</string>
                <key>textureRect</key>
                <string>{{1,183},{1419,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chalk-line/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1419,89}</string>
                <key>spriteSourceSize</key>
                <string>{1419,89}</string>
                <key>textureRect</key>
                <string>{{1,274},{1419,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chalk-line/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1419,89}</string>
                <key>spriteSourceSize</key>
                <string>{1419,89}</string>
                <key>textureRect</key>
                <string>{{1,365},{1419,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
    </dict>
</plist>


